.nav{
    background-color: antiquewhite;
    width: 100%;
     display: flex; 
    justify-content:space-between; 
    padding: 10px;

}
.nav a {
   align-content: center; 
   text-align : center;
   text-decoration: none ;
   gap: 40px;
   margin: 20px 40px;
}
.baground{
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
}
.baground-container{
    width: 100%;
    /* padding: 10px; */
}
.text{
    text-align: center;
    padding: 10px;
}
.btn{
  background-color: coral;  
  color: white;
  border-radius: 5px;
  padding: 10px;
 border: none;
}
.baground-img{
    border-radius: 3px;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.baground-img img{
    height: 100%;
    width: 100%;
}



.card{
    width: 80%;
    height: 700px; 
    display: flex;
    margin: 0 auto;
}

.card-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 5px;
   margin: 10px;
}
.card-container>div{
    width: 50%;
    /* padding: 20px; */
}

.card-text{
    align-content: center;
    padding: 40px;
}
span{
    color: grey;
}
#yellow{
    color: orange;
}



.baground-container-2{
    width: 80%;
    height: 1050px;
    margin-top: 20px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}
.bg{
   padding: 60px;
   width: 50%;
}

.bg-img{
    border-radius: 3px;
    width: 50%;
    margin-top: 20px;
}

.bg-img img{
/* height: 100%;
width: 100%; */
margin-top: 50px;
position: relative;
z-index: 1;
}

.h1{
    border-left: 5px solid orangered;
    padding-left: 4px;
}
.bg-card{
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgb(241, 238, 238);
   margin-top: 10px;
}
.box{
    color:white;
    border-radius: 4px;
    background-color: rgb(244, 153, 50);
    height: 100px;
    width: 130px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    align-content: center;
    text-align: center;
    /* right: 10px;
    top: 20px; */
}




.icon-card{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.icon-card-container{
    padding: 20px;
}

.writte{
    padding: 10px;
}
.icon{
    border: 1px solid rgb(251, 125, 79);
    align-content: center;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    height: 140px;
    width: 130px;
}

.icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.img-contain{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;

}
.imgs{
    display: flex;
    justify-content: space-between;

}



footer{
    background-color: antiquewhite ;
    border-radius: 3px;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}